In [10]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

df = pd.read_csv('smartphone.csv', sep=',')
# df.head(10)

smartphone_tab = pd.crosstab(df.OS, df.Capacity, margins = True)
smartphone_tab

observed = smartphone_tab.iloc[0:3,0:4]
observed

Capacity  16  32  64  128  All
OS
Android    3   0   2    1    6
ios        0   1   0    1    2
windows    0   1   0    0    1
All        3   2   2    2    9

In [18]:
expected = np.outer(smartphone_tab["All"][0:3],
                    smartphone_tab.loc["All"][0:4]) / 9

expected = pd.DataFrame(expected)

expected.columns = ["16", "32", "64", "128"]
expected.index = ["Android", "ios", "windows"]

expected

               16        32        64       128
Android  2.000000  1.333333  1.333333  1.333333
ios      0.666667  0.444444  0.444444  0.444444
windows  0.333333  0.222222  0.222222  0.222222

In [27]:
stats.chi2_contingency(observed=observed)

(8.249999999999998,
 0.2203538910652302,
 6,
 array([[2.        , 1.33333333, 1.33333333, 1.33333333],
        [0.66666667, 0.44444444, 0.44444444, 0.44444444],
        [0.33333333, 0.22222222, 0.22222222, 0.22222222]]))