In [1]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv('hepatitis.csv', sep=',')
# df = pd.read_csv('hepatitis.csv', sep=',', dtype={'AGE':int,'BILIRUBIN':float,'ALK_PHOSPHATE':int,'SGOT':int,'ALBUMIN':float,'PROTIME':int})
# include =['object','float', 'int']
df.describe(include=include)

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
count,155.000000,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155
unique,NaN,2,3,2,3,3,3,3,3,3,3,3,3,35,84,85,30,45,2,2
top,NaN,female,yes,no,yes,no,no,yes,no,no,no,no,no,1,?,20,4,?,no,LIVE
freq,NaN,139,78,131,100,93,122,120,84,120,99,130,132,29,29,7,25,67,85,123
mean,41.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,12.565878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,78.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN